<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ExcelReader</servlet-name>
        <servlet-class>com.dataset.read.ExcelReader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewgraph</servlet-name>
        <servlet-class>com.graph.viewgraph</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PieGraph</servlet-name>
        <servlet-class>com.graph.PieGraph</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExcelReader</servlet-name>
        <url-pattern>/ExcelReader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewgraph</servlet-name>
        <url-pattern>/viewgraph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PieGraph</servlet-name>
        <url-pattern>/PieGraph</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
